# Capstone Project

This will be Coursera Capstone Project for Data Science to know the Impact of Traffic on Accident Severity

In [1]:
import pandas as pd
import numpy as np

In [2]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

In [3]:
df=pd.read_csv('C:\IBM Data Science\9- Applied Data Science Capstone\Data-Collisions.csv')
df.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [4]:
df['SEVERITYCODE'].value_counts()

1    136485
2     58188
Name: SEVERITYCODE, dtype: int64

# Data Prerocessing

To Balance data

In [5]:
from sklearn.utils import resample
df_mainor = df[df['SEVERITYCODE']==1]
df_major = df[df['SEVERITYCODE']==2]
    
balanced = resample(df_mainor,replace=True,n_samples=58188,random_state=123) 

df=pd.concat([balanced,df_major])
df['SEVERITYCODE'].value_counts()

2    58188
1    58188
Name: SEVERITYCODE, dtype: int64

In [6]:
df.dtypes

SEVERITYCODE        int64
X                 float64
Y                 float64
OBJECTID            int64
INCKEY              int64
COLDETKEY           int64
REPORTNO           object
STATUS             object
ADDRTYPE           object
INTKEY            float64
LOCATION           object
EXCEPTRSNCODE      object
EXCEPTRSNDESC      object
SEVERITYCODE.1      int64
SEVERITYDESC       object
COLLISIONTYPE      object
PERSONCOUNT         int64
PEDCOUNT            int64
PEDCYLCOUNT         int64
VEHCOUNT            int64
INCDATE            object
INCDTTM            object
JUNCTIONTYPE       object
SDOT_COLCODE        int64
SDOT_COLDESC       object
INATTENTIONIND     object
UNDERINFL          object
WEATHER            object
ROADCOND           object
LIGHTCOND          object
PEDROWNOTGRNT      object
SDOTCOLNUM        float64
SPEEDING           object
ST_COLCODE         object
ST_COLDESC         object
SEGLANEKEY          int64
CROSSWALKKEY        int64
HITPARKEDCAR       object
dtype: object

In [7]:
data_df = df.drop(['SEVERITYCODE','X' ,'Y','REPORTNO','STATUS','ADDRTYPE','LOCATION','EXCEPTRSNCODE','EXCEPTRSNDESC','PERSONCOUNT',
                   'PEDCOUNT','PEDCYLCOUNT','VEHCOUNT','INCDATE','INCDTTM','JUNCTIONTYPE','SDOT_COLCODE','SDOT_COLDESC','INATTENTIONIND',
                   'UNDERINFL','PEDROWNOTGRNT','SDOTCOLNUM','ST_COLCODE','ST_COLDESC','SEGLANEKEY','CROSSWALKKEY','HITPARKEDCAR'], axis=1)
data_df

,OBJECTID,INCKEY,COLDETKEY,INTKEY,SEVERITYCODE.1,SEVERITYDESC,COLLISIONTYPE,WEATHER,ROADCOND,LIGHTCOND,SPEEDING
22536,26946,40905,40905,29651.0,1,Property Damage Only Collision,Left Turn,Clear,Wet,Dark - Street Lights On,NaN
39812,45068,58413,58413,NaN,1,Property Damage Only Collision,Rear Ended,Clear,Dry,Daylight,NaN
25317,29906,44763,44763,25457.0,1,Property Damage Only Collision,Angles,Clear,Dry,Daylight,NaN
170256,190232,251988,252588,NaN,1,Property Damage Only Collision,Other,Overcast,Dry,Daylight,NaN
183714,206555,325075,326575,NaN,1,Property Damage Only Collision,Parked Car,Clear,Dry,Dark - Street Lights On,NaN
...,...,...,...,...,...,...,...,...,...,...,...
194663,219536,309335,310615,NaN,2,Injury Collision,Angles,Raining,Wet,Daylight,NaN
194666,219539,309170,310450,NaN,2,Injury Collision,Angles,Clear,Wet,Daylight,NaN
194668,219543,309534,310814,NaN,2,Injury Collision,Head On,Clear,Dry,Daylight,NaN
194670,219545,311280,312640,24760.0,2,Injury Collision,Left Turn,Clear,Dry,Daylight,NaN
194671,219546,309514,310794,24349.0,2,Injury Collision,Cycles,Clear,Dry,Dusk,NaN

In [8]:
data_df['WEATHER'].value_counts()

Clear                       67853
Raining                     20572
Overcast                    16757
Unknown                      7050
Snowing                       480
Other                         405
Fog/Smog/Smoke                338
Sleet/Hail/Freezing Rain       75
Blowing Sand/Dirt              29
Severe Crosswind               18
Partly Cloudy                   3
Name: WEATHER, dtype: int64

In [9]:
data_df['WEATHER'].replace(to_replace=['Clear','Raining','Overcast','Unknown','Snowing','Other','Fog/Smog/Smoke','Sleet/Hail/Freezing Rain',
'Blowing Sand/Dirt','Severe Crosswind','Partly Cloudy'], value=[0,1,2,3,4,5,6,7,8,9,10],inplace=True)
data_df.head()

,OBJECTID,INCKEY,COLDETKEY,INTKEY,SEVERITYCODE.1,SEVERITYDESC,COLLISIONTYPE,WEATHER,ROADCOND,LIGHTCOND,SPEEDING
22536,26946,40905,40905,29651.0,1,Property Damage Only Collision,Left Turn,0.0,Wet,Dark - Street Lights On,NaN
39812,45068,58413,58413,NaN,1,Property Damage Only Collision,Rear Ended,0.0,Dry,Daylight,NaN
25317,29906,44763,44763,25457.0,1,Property Damage Only Collision,Angles,0.0,Dry,Daylight,NaN
170256,190232,251988,252588,NaN,1,Property Damage Only Collision,Other,2.0,Dry,Daylight,NaN
183714,206555,325075,326575,NaN,1,Property Damage Only Collision,Parked Car,0.0,Dry,Dark - Street Lights On,NaN

In [10]:
weather=[
        {'Weather':'Clear',
         'Refer to':0,
        },
        {'Weather':'Raining',
         'Refer to':1,
        },
        {'Weather':'Overcast',
         'Refer to':2,
        },
        {'Weather':'Unknown',
         'Refer to':3,
        },
        {'Weather':'Snowing',
         'Refer to':4,
        },
        {'Weather':'Other',
         'Refer to':5,
        },
        {'Weather':'Fog/Smog/Smoke',
         'Refer to':6,
        },
        {'Weather':'Sleet/Hail/Freezing Rain',
         'Refer to':7,
        },
        {'Weather':'Blowing Sand/Dirt',
         'Refer to':8,
        },
        {'Weather':'Severe Crosswind',
         'Refer to':9,
        },
        {'Weather':'Partly Cloudy',
         'Refer to':10,
        },
       ]
weather_dic=pd.DataFrame(weather)
weather_dic

                     Weather  Refer to
0                      Clear         0
1                    Raining         1
2                   Overcast         2
3                    Unknown         3
4                    Snowing         4
5                      Other         5
6             Fog/Smog/Smoke         6
7   Sleet/Hail/Freezing Rain         7
8          Blowing Sand/Dirt         8
9           Severe Crosswind         9
10             Partly Cloudy        10

In [11]:
data_df['LIGHTCOND'].value_counts()

Daylight                    71665
Dark - Street Lights On     28817
Unknown                      6248
Dusk                         3649
Dawn                         1495
Dark - No Street Lights       832
Dark - Street Lights Off      693
Other                         129
Dark - Unknown Lighting         9
Name: LIGHTCOND, dtype: int64

In [12]:
data_df['LIGHTCOND'].replace(to_replace=['Daylight','Dark - Street Lights On','Unknown','Dusk','Dawn','Dark - No Street Lights','Dark - Street Lights Off','Other',
'Dark - Unknown Lighting'], value=[0,1,2,3,4,5,6,7,8],inplace=True)
data_df.head()

,OBJECTID,INCKEY,COLDETKEY,INTKEY,SEVERITYCODE.1,SEVERITYDESC,COLLISIONTYPE,WEATHER,ROADCOND,LIGHTCOND,SPEEDING
22536,26946,40905,40905,29651.0,1,Property Damage Only Collision,Left Turn,0.0,Wet,1.0,NaN
39812,45068,58413,58413,NaN,1,Property Damage Only Collision,Rear Ended,0.0,Dry,0.0,NaN
25317,29906,44763,44763,25457.0,1,Property Damage Only Collision,Angles,0.0,Dry,0.0,NaN
170256,190232,251988,252588,NaN,1,Property Damage Only Collision,Other,2.0,Dry,0.0,NaN
183714,206555,325075,326575,NaN,1,Property Damage Only Collision,Parked Car,0.0,Dry,1.0,NaN

In [13]:
light=[
        {'Light':'Daylight',
         'Refer to':0,
        },
        {'Light':'Dark - Street Lights On',
         'Refer to':1,
        },                                         
        {'Light':'Unknown ',
         'Refer to':2,
        },
        {'Light':'Dusk ',
         'Refer to':3,
        },
        {'Light':'Dusk ',
         'Refer to':4,
        },
        {'Light':'Dark - No Street Lights',
         'Refer to':5,
        },
        {'Light':'Dark - Street Lights Off',
         'Refer to':6,
        },
        {'Light':'Other',
         'Refer to':7,
        },
        {'Light':'Dark - Unknown Lighting ',
         'Refer to':8,
        }
       ]
light_dic=pd.DataFrame(light)
light_dic

                      Light  Refer to
0                  Daylight         0
1   Dark - Street Lights On         1
2                  Unknown          2
3                     Dusk          3
4                     Dusk          4
5   Dark - No Street Lights         5
6  Dark - Street Lights Off         6
7                     Other         7
8  Dark - Unknown Lighting          8

In [14]:
data_df['ROADCOND'].value_counts()

Dry               76055
Wet               29225
Unknown            6927
Ice                 654
Snow/Slush          521
Other                83
Standing Water       73
Sand/Mud/Dirt        48
Oil                  39
Name: ROADCOND, dtype: int64

In [15]:
data_df['ROADCOND'].replace(to_replace=['Dry','Wet','Unknown','Ice','Snow/Slush','Other','Standing Water',
'Sand/Mud/Dirt','Oil'], value=[0,1,2,3,4,5,6,7,8],inplace=True)
data_df.head()

,OBJECTID,INCKEY,COLDETKEY,INTKEY,SEVERITYCODE.1,SEVERITYDESC,COLLISIONTYPE,WEATHER,ROADCOND,LIGHTCOND,SPEEDING
22536,26946,40905,40905,29651.0,1,Property Damage Only Collision,Left Turn,0.0,1.0,1.0,NaN
39812,45068,58413,58413,NaN,1,Property Damage Only Collision,Rear Ended,0.0,0.0,0.0,NaN
25317,29906,44763,44763,25457.0,1,Property Damage Only Collision,Angles,0.0,0.0,0.0,NaN
170256,190232,251988,252588,NaN,1,Property Damage Only Collision,Other,2.0,0.0,0.0,NaN
183714,206555,325075,326575,NaN,1,Property Damage Only Collision,Parked Car,0.0,0.0,1.0,NaN

In [16]:
road=[
        {'Road':'Dry',
         'Refer to':0,
        },                                                                            
        {'Road':'Wet',
         'Refer to':1,
        },                                         
        {'Road':'Unknown ',
         'Refer to':2,
        },
        {'Road':'Ice ',
         'Refer to':3,
        },
        {'Road':'Snow/Slush  ',
         'Refer to':4,
        },
        {'Road':'Other ',
         'Refer to':5,
        },
        {'Road':'Standing Water',
         'Refer to':6,
        },
        {'Road':'Sand/Mud/Dirt',
         'Refer to':7,
        },
        {'Road':'Oil ',
         'Refer to':8,
        }
       ]
road_dic=pd.DataFrame(road)
road_dic

             Road  Refer to
0             Dry         0
1             Wet         1
2        Unknown          2
3            Ice          3
4    Snow/Slush           4
5          Other          5
6  Standing Water         6
7   Sand/Mud/Dirt         7
8            Oil          8

In [17]:
data_df['WEATHER']=np.int64(data_df['WEATHER'])
data_df['LIGHTCOND']=np.int64(data_df['WEATHER'])
data_df['ROADCOND']=np.int64(data_df['WEATHER'])
data_df.dtypes

OBJECTID            int64
INCKEY              int64
COLDETKEY           int64
INTKEY            float64
SEVERITYCODE.1      int64
SEVERITYDESC       object
COLLISIONTYPE      object
WEATHER             int64
ROADCOND            int64
LIGHTCOND           int64
SPEEDING           object
dtype: object

# Classification

In [18]:
x = data_df[['WEATHER','LIGHTCOND','ROADCOND']]
x[:5]

        WEATHER  LIGHTCOND  ROADCOND
22536         0          0         0
39812         0          0         0
25317         0          0         0
170256        2          2         2
183714        0          0         0

In [19]:
y = data_df[['SEVERITYCODE.1']]
y[:5]

        SEVERITYCODE.1
22536                1
39812                1
25317                1
170256               1
183714               1

In [20]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=4)
print ('Train set:', x_train.shape,  y_train.shape)
print ('Test set:', x_test.shape,  y_test.shape)

Train set: (81463, 3) (81463, 1)
Test set: (34913, 3) (34913, 1)

# KNN Model

In [21]:
from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier
K = 15
neigh = KNeighborsClassifier(n_neighbors = K).fit(x_train,y_train)
yhat=neigh.predict(x_test)
yhat[0:5]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

array([1, 2, 2, 2, 2], dtype=int64)

In [22]:
print('Train Accuracy =',metrics.accuracy_score(y_train,neigh.predict(x_train)))
print('Test Accuracy =',metrics.accuracy_score(y_test,yhat))

Train Accuracy = 0.5486171636202939
Test Accuracy = 0.5482198607968378

# Decision Tree Model

In [23]:
from sklearn.tree import DecisionTreeClassifier
tree=DecisionTreeClassifier(criterion='entropy',max_depth=6)
tree.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=6, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [24]:
predtree=tree.predict(x_test)
predtree

array([2, 2, 2, ..., 2, 2, 2], dtype=int64)

# Logistic Regression Model

In [25]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression(C=0.01,solver='liblinear').fit(x_train,y_train)
lr

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=0.01, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [26]:
predlr=lr.predict(x_test)
predlr

array([2, 2, 2, ..., 2, 2, 2], dtype=int64)

# Model Evalution

In [27]:
from sklearn.metrics import jaccard_similarity_score
from sklearn.metrics import f1_score
from sklearn.metrics import log_loss

In [28]:
print("KNN")
y_pred_knn=neigh.predict(x_test)
print('Jaccard of KNN=',jaccard_similarity_score(y_test,y_pred_knn))
print('F1-Score of KNN=',f1_score(y_test,y_pred_knn,average='weighted'))
print('----------------------------------------------------------------------------')
#Decision Tree
print("Decision Tree")
print('Jaccard of Descision Tree=',jaccard_similarity_score(y_test,predtree))
print('F1-Score of Descision Tree=',f1_score(y_test,predtree,average='weighted'))
print('----------------------------------------------------------------------------')
#Logistic Regression
print("Logistic Regression")
print('Jaccard of Logistic Regression=',jaccard_similarity_score(y_test,predlr))
print('F1-Score of Logistic Regression=',f1_score(y_test,predlr,average='weighted'))
y_pred_lr_proba=np.round(lr.predict_proba(x_test),-5)
print('Logloss of Logistic Regression',log_loss(y_test,y_pred_lr_proba))
print('----------------------------------------------------------------------------')

KNN
Jaccard of KNN= 0.5482198607968378
F1-Score of KNN= 0.514793364237427
----------------------------------------------------------------------------
Decision Tree
Jaccard of Descision Tree= 0.5568412912095781
F1-Score of Descision Tree= 0.4685945562670395
----------------------------------------------------------------------------
Logistic Regression
Jaccard of Logistic Regression= 0.5069744794202733
F1-Score of Logistic Regression= 0.3621670109664579
Logloss of Logistic Regression 0.6931471805599453
----------------------------------------------------------------------------

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:664: FutureWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  FutureWarning)

In [29]:
Report=[
        {'Algorithm':'KNN',
         'Jaccard':jaccard_similarity_score(y_test,y_pred_knn),
         'F1-Score':f1_score(y_test,y_pred_knn,average='weighted'),
         'Logloss':'NA'
        },
        {'Algorithm':'DecisionTree',
         'Jaccard':jaccard_similarity_score(y_test,predtree),
         'F1-Score':f1_score(y_test,predtree,average='weighted'),
         'Logloss':'NA'
        },
        {'Algorithm':'LogisticRegression',
         'Jaccard':jaccard_similarity_score(y_test,predlr),
         'F1-Score':f1_score(y_test,predlr,average='weighted'),
         'Logloss':log_loss(y_test,y_pred_lr_proba)
        }
       ]
FinalReport=pd.DataFrame(Report)
FinalReport

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:664: FutureWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  FutureWarning)

            Algorithm   Jaccard  F1-Score   Logloss
0                 KNN  0.548220  0.514793        NA
1        DecisionTree  0.556841  0.468595        NA
2  LogisticRegression  0.506974  0.362167  0.693147